.form-background-grey {
  background-color: #f8f9fa;
  min-height: 100vh;
}

.form-frame {
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 700px;
  padding-top: 5%;
  margin: auto;
  min-height: 80vh
}

.form-frame h3 {
  font-family: 'Arial', sans-serif;
}

.blue-grey-background-form {

  background-image: url('background_cocotte.jpg');
  background-size: cover;
  background-position: center;
}

input::placeholder {
  color: rgba(153, 153, 153, 0.5); /* Gris avec 50% de transparence */
}
