#icon.upload {
  display: none;
}

.form-background-grey {
    background-color: #f8f9fa;
    min-height: 100vh;
    padding: 0;
}


.form-frame {
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 700px;
  margin: auto;
  min-height: 80vh;
  margin-top: 40px;
  overflow: scroll;
  padding-bottom: 160px;
  padding-top: 20px;
  padding-left:20px;
  padding-right: 20px;
  margin-left:20px;
  margin-right: 20px;
}

.form-frame.h3 {
  font-family: 'Arial', sans-serif;
  margin: none;
}

.blue-grey-background-form {
  background-image: url('background_cocotte.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  margin-top: -60px;
  padding: 0
}

#no-scroll-page {
  overflow: hidden;
}

.recipages-container {
  max-height: 500px;
  overflow-y: auto;
  padding-left: 3px;
  padding: 10px;
}

input::placeholder {
  color: rgba(153, 153, 153, 0.5);
}

.form-field {
 resize: none;
 width: 100%;
 color: rgba(0, 0, 0, 0.5);
 background-color: rgb(242, 241, 241);
 border-radius: 15px;

}

.custom-color-button {
  background-color: #1B2228;
  width: 50%;
  border: none;
}

.custom-color-button:hover {
  background-color: #6E88A1;
  transition: 0,2;
}

.form-control {
  width: 100%;
}


.control-label {
  color: #89AAC9;
  font-weight: bold;
}

.form-check-valid {
  color: #89AAC9;
}
