.form-background-grey {
  background-color: #f8f9fa;
  min-height: 100vh;
}

.form-frame {
  background: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-height: 700px;
  margin: auto;
  min-height: 80vh;
  margin-top: 40px;
}

input::placeholder {
  color: rgba(153, 153, 153, 0.5);
}

.ebook-form {
  background-image: url('background_cocotte.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -60px;
  background-attachment: fixed;
  padding: 0
}

.black-create-ebook {
  background-color: black;
}

.cocotte-tag-template {
  width: 100px ;
  height: auto;
}

.theme-border {
  text-align:center;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

 .modal-footer {
  padding-bottom: 100px;
 }

 .form-check {
  width: 95%;
  background-color: rgb(233, 231, 231);
  border-radius: 15px;
 }

 .theme-choice {
  width:100%;
  text-align: center;
  border-radius: 15px;
 }

 .label-full-width {
 border: 1px solid;
 border-radius: 15px;
 }

 .back-to-show-deco-none {
  text-decoration: none;
  color:white;
 }

 .open-modal-black, .button-updating-black {
  color:white;
  margin-bottom: 20px;
 }


.open-modal-black, .button-updating-black {
  background-color: #1B2228;
  width: 70%;
  border-radius: 15px;
  height: 36px;
  border: none;
  align-items: center;
}


.open-modal-black:hover, .button-updating-black:hover {
  background-color: #6E88A1;
  transition: 0,2;
}

.control-label {
  color: #89AAC9;
  font-weight: bold;
}

.form-check-valid {
  color: #89AAC9;
}

h3 {
  font-family: 'Arial', sans-serif;
}
