input::placeholder {
  color: rgba(153, 153, 153, 0.5);
}

.ebook-form {
  background-image: url('background_cocotte.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin-top: -60px;
  background-attachment: fixed;
  padding: 0
}

.black-create-ebook {
  background-color: black;
}

.cocotte-tag-template {
  width: 100px ;
  height: auto;
}

.theme-border {
  text-align:center;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

 .modal-footer {
  padding-bottom: 100px;
 }

 .form-check {
  width: 100%;
  border-radius: 15px;
 }

 .theme-choice {
  width:100%;
  text-align: center;
  border-radius: 15px;
 }

 .label-full-width {
 border: 1px solid;
 border-radius: 15px;
 }

 .back-to-show-deco-none {
  text-decoration: none;
  color:white;
 }

 .open-modal-black, .button-updating-black {
  color:white;
  margin-bottom: 20px;
 }


.open-modal-black, .button-updating-black {
  background-color: #526679;
  width: 70%;
  border-radius: 15px;
  height: 36px;
  border: none;
  align-items: center;
}
.button-valid-list-blue {
  color:white;
  background-color: #526679;
  width: 150px;
  border-radius: 15px;
  height: 36px;
  border: none;
  align-items: center;
}

.open-modal-black:hover, .button-updating-black:hover, .button-valid-list-blue:hover {
  background-color: #B8CCDF;
  transition: 0,2;
}

.control-label {
  color: #89AAC9;
  font-weight: bold;
}

.form-check-valid {
  color: #89AAC9;
}

h3 {
  font-family: 'Arial', sans-serif;
}

.div-no-background {
  background-color: white;
}

.preview-uploaded-image {
  width: 230px;
  height: 100px;
  object-fit: cover;
}

 .image-radio-clickable {
   position:absolute;
   transform: scale(0);
 }

 .image-radio-clickable + label {
   cursor: pointer;
 }

 .image-radio-clickable:checked + label {
  border: 8px solid #A1BBD4;
 }

 .custom-valid {
  color:#A1BBD4;
 }

 .form-select {
  color: hsl(209, 37%, 73%);
 }

 .recipe-modal-card {
    margin: 2px;
    border-radius: 15px;
 }

  .recipe-modal-card-check input:checked ~ label {
    border: 4px solid #A1BBD4;
    border-radius: 15px;

  }

  .recipe-modal-card:hover {
    transform: scale(1.00);
  }
