.form-background-grey {
  background-color: #97B4CF;
}
.validate-form-black {
  color: whitesmoke;
  background-color: black;
  border-radius: 15%;
  width: 200px;
}

.form-white {
  border-color: solid,black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.validate-form-black:hover {
  color:black;
  background-color: whitesmoke;

}

.form-card {
  border-radius: 30px;
}
