.form-background-grey {
  background-color: #97B4CF;
}

.validate-form {
  color: whitesmoke;
  background-color: black;
  border-radius: 15%;
}

.form-white {
  border-color: black;
}

.validate-form:hover {
  color:black;
  background-color: whitesmoke;

}
