.recipe-show-container {
  position: relative;
  height: 100vh;
  color: white;
  font-family: Arial, sans-serif;
}

.recipe-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.top-bar {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.back-arrow, .edit-button {
  font-size: 24px;
  text-decoration: none;
  color: white;
}

.recipe-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  flex-grow: 1;
}

.recipe-content {
  position: absolute;
  bottom: -50px;
  width: 100%;
  background: white;
  max-height: 70%;
  color: black;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}

.recipe-content.expanded {
  max-height: 80%;
  bottom: 50px;
}

.texte-recette {
  padding: 20px;
}

.texte-recette h2 {
  margin-top: 0;
}

.texte-recette p {
  margin-bottom: 20px;
}

.edit-button {
  width: 5px;
  margin-right: 20px;
  margin-top: -10px;
}

.delete-button {
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.meal-label {
  position: absolute;
  top: 10px;
  right: 20px;
  background: #1b2228;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
  z-index: 20;
}

.icon-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px; /* Adjust the gap between icons as needed */
}
