@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap');

.ebook-display{
  background-color: white !important;
}

.arrow-button {
  font-size: 24px;
  margin-left: -80px;
  margin-bottom: -16px;
  float: left;
  cursor: pointer;
  color: black;
  text-decoration: none;
}

.ebook-title {
    text-align: justify;
    font-family: 'Comic Neue';
    font-weight: bold;
    font-size: 30px;
    color: black;
    align-items: center;
    line-height: 25px;
}


.ebook-counter{
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #97B4CF;
  font-weight: bold;
  margin-bottom: 20px;
  // padding-bottom: 20px;
  border-bottom-style: solid;
  border-color: darkgray;
}

.previsualisation{
  height: 450px;
  // margin-top: 50px;
  margin-bottom: 40px;
  background-color:lightgray;
  border-radius: 20px;
}

// Bouton réglage

.gear-button{
    text-decoration: none;
    color:darkgray;
    font-size: 25px;
    margin-bottom: -65px;
  }

  .gear-button:hover{
    opacity: 0.9;
    color: gray;
    transition: 0.3s;

  }
  .gear-position{
    display: flex;
    justify-content: flex-end;
    margin: -10px;
  }

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}


// Bouton de téléchargement


@import url('https://fonts.googleapis.com/css?family=Droid+Serif');

$button-color: #89AAC9;
$transition-time: 1s;

.download-ebook {
  background-color: #89AAC9;
  border-radius: 5px;
  color: white;
  // border: 1px solid darkgray;
  font-family: 'Comic Neue', sans-serif;
  font-weight: bold;
  font-size: 5vw;
  display: flex;
  justify-content: center;
  margin-bottom: 120px;
}

.download-ebook:hover {
  background-color: lighten($button-color, 10%);
  color: white;
  transition: none;
}

.download-ebook {
  position: relative;
  display: inline-flex;
  text-decoration: none;
  color: #fff;
  background-color: lighten($button-color, 10%);
  padding-left: 2rem;
  overflow: hidden;
  z-index: 1;
  align-items: center;
  box-shadow: 0px 3px 4px -4px rgba(0, 0, 0, 0.75);

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: 100%;
    background-color: $button-color;
    z-index: -1;
    transition: transform $transition-time;
  }

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 2rem;
    padding: 1rem;
    overflow: hidden;
    background-color: $button-color;
  }

  svg {
    max-width: 20px;
    width: 100%;
    height: auto;
    max-height: 18px;
    fill: $button-color;
  }

  &:hover {
    &::before {
      transform: scaleX(1);
    }

    svg {
      animation: moveArrow $transition-time;
    }
  }
}

@keyframes moveArrow {
  0% {
    transform: translateX(0px);
  }

  49% {
    transform: translateX(50px);
  }

  50% {
    transform: translateX(-50px);
  }

  100% {
    transform: translateX(0px);
  }
}
