<div class="container form-background-grey py-4">
  <div class="row justify-content-center blue-grey-background-form">
    <div class="col-12 col-md-8 col-lg-6">
      <div class="form-frame p-4 mx-4">
        <h3 class="my-4 text-center">Modifier une recette</h3>
          <%= render "form", recipe: @recipe %>
