<head>
  <style>
    .recipe-list {
      list-style: none; /* Supprime les points de liste */
      padding: 0; /* Supprime le padding par défaut de l'élément ul */
    }
  </style>
</head>
<body>
  <ul class="recipe-list">
    <% @recipes.each do |recipe| %>
      <li>
        <a href="<%= recipe_path(recipe) %>" class="card row">
          <div class="card-image col-4">
            <% if recipe.photo.attached? %>
              <%= image_tag recipe.photo, alt: recipe.title %>
            <% end %>
          </div>
          <div class="card-content col-4">
            <h3><%= recipe.title %></h3>
          </div>
          <div class="card-arrow col-4">
            <i class="bi bi-arrow-right-square-fill"></i>
          </div>
        </a>
      </li>
    <% end %>
  </ul>
</body>
