<body id="no-scroll-page">
  <div class="container form-background-grey py-4">
    <div class="row justify-content-center blue-grey-background-form">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="form-frame">
          <%= link_to recipes_path do %>
            <i class="fa-regular fa-circle-xmark text-black"></i>
          <% end %>
            <h3 class="mb-2 text-center"><strong>Importer une recette </strong></h3>
              <%= render "form", recipe: @recipe %>
</body>
