<h1>Transcribe Recipe</h1>

<%= form_for @recipe, url: recipes_path, html: { multipart: true } do |f| %>
  <div class="field">
    <%= f.label :review_photo %>
    <%= f.file_field :review_photo %>
  </div>

  <div class="actions">
    <%= f.submit "Transcribe Recipe" %>
  </div>
<% end %>
