<div class="wrapper">
  <div class="navbar">
    <i class="fas fa-home icon-home"></i>
    <i class="fas fa-cog icon-settings"></i>

    <div class="circle">
      <i class="fas fa-plus plus-icon"></i>
      <i class="fab fa-youtube social"></i>
      <i class="fab fa-twitter social"></i>
      <i class="fab fa-github  social"></i>
    </div>
    <div class="circleBackground"></div>
  </div>
</div>
