.filter-display{
  background-color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  height: 36px;
}

.filter-display:hover {
  color: white;
}

.search-display{
  background-color: white;
  color: black;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  text-indent: 5px;
  color: darkgray !important
}

.filter-icon{
  text-indent: 10px;
  z-index: 9999;
  background-color: white;
  height: 36px;
  color: darkgray;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

// .meal-button {
//   // border: solid;
//   // border-color: #D0DDE9;
//   // border-width: 2px;
//   box-shadow: 0 5px 5px gray;
// }
