.card {
  flex-direction: row;
  border-radius: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  width: 100%;
  height: 100px;
  text-decoration: none;
  background-color: white;
  color: inherit;
  transition: transform 0.2s;
  margin: 15px;
  border: none;
}

.background-color-logo{
  background-color: #97b4cf;
}

.container {
 background-color: #97b4cf;
}

.card:hover {
  transform: scale(1.05);
}
.card img {
  width: 95px;
  height:95px;
  object-fit:cover;
  border-radius: 18px;
}

.card-image {
  padding: 3px;
  }

.card-content {
  display: flex;
  align-items: center;
}
.card-content h3 {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  text-align:start;
}
.card-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #151414;
  font-size: 22px;
}

.meal-button {
  margin-right: 10px;
  background-color: white;
  color: #333;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

.meal-button:hover {
  background-color: #f9f9f9;
}
