
.form{
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  }

.form-control {
  background-color: white;
  border: none;
}

.form .fa-search{
  position: absolute;
  top:13px;
  left: 20px;
  color: #9ca3af;
}

.form span{
  position: absolute;
  right: 17px;
  top: 13px;
  padding: 2px;
  border-left: 1px solid #d1d5db;
}

.form-input{
  height: 40px;
  text-indent: 33px;
  border-radius: 5px;
}
