 <% @recipages.each do |recipage| %>
                  <a href="<%= recipe_path(recipage.recipe) %>" class="card row mx-0">
                   <div class="card-image col-4">
                    <% if recipage.recipe.photo.attached? %>
                      <%= image_tag recipage.recipe.photo, alt: recipage.recipe.title %>
                      <% end %>
                        </div>
                          <div class="card-content col-4">
                      <h3><%= recipage.recipe.title %></h3>
                        </div>
                      <div class="card-arrow col-4">
                    <i class="bi bi-arrow-right-square-fill"></i>
                  </div>
                </a>
               <% end %>
