  <div class="d-flex flex-row align-items-center mx-0 p-3 card recipe-modal-card">
    <div class="card-image">
      <% if recipe.photo.attached? %>
        <%= image_tag recipe.photo, alt: recipe.title %>
      <% else %>
        <%= image_tag 'default_image4.jpg', class: "background-image" %>
      <% end %>
    </div>
    <div class="card-content pe-3">
      <h3><%= recipe.title %></h3>
    </div>
</div>
