<div class="stats-card mt-2">
    <div class="stats-item">
        <p class="stats-number">47</p>
        <p class="stats-label">recettes répertoriées</p>
    </div>
    <div class="stats-item">
        <p class="stats-number">3</p>
        <p class="stats-label">Ebook générés</p>
    </div>
    <div class="stats-item">
        <p class="stats-number">2</p>
        <p class="stats-label">Livres imprimés</p>
    </div>
</div>

<div class= "mt-3 d-flex justify-content-center">
  <%= link_to "Créer un E-Book", "#", class: "btn btn-ghost bg-white border-0" %>
</div>

<div class="stats-big-card mt-3">
    <div class="image-container-card">
      <%= image_tag('background_cocotte.jpg', alt: 'background-image') %>
        <button class="edit-button">
          <i class="fa-regular fa-pen-to-square"></i>
        </button>
    </div>
    <div class="text-container mt-2">
        <h2>RECETTES DE FAMILLE</h2>
        <div class="info mb-4">
            <span>12 plats</span>
            <span>4 entrées</span>
            <span>7 desserts</span>
        </div>
    </div>
</div>

<div class="stats-big-card mt-3">
    <div class="image-container-card">
      <%= image_tag('background_cocotte.jpg', alt: 'background-image') %>
        <button class="edit-button">
          <i class="fa-regular fa-pen-to-square"></i>
        </button>
    </div>
    <div class="text-container mt-2">
        <h2>RECETTES DE FAMILLE</h2>
        <div class="info mb-4">
            <span>12 plats</span>
            <span>4 entrées</span>
            <span>7 desserts</span>
        </div>
    </div>
</div>
